@use "tailwindcss";

:root {
  --foreground-rgb: 241, 245, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #060818;
}


.sticky-card {
  top: calc(var(--index) * 4rem);
}

@keyframes scan {
  0%, 100% { top: -2px; }
  50% { top: 100%; }
}